{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    <form action="{% url 'display_by_category' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <select name="category" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Select a category</option>
                {% for c in categories %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-outline-primary">Select</button>
        </div>
    </form>

    <div class="row m-1">
        {% for listing in listings  %}
            <div class="card" style="width: 430px; margin: 5px;">
                <div>
                    <img src="{{ listing.img_url }}" class="card-img-top" alt="{{ listing.title }}">
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
